**/__pycache__

**/data
**/logs
**/plan

# File
**/plan.md
**/logs*.txt
**/temp*.txt

# More
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version
env/
venv/
ENV/
.venv/
pyvenv.cfg
Lib/
Include/
bin/
local/
sdist/
dist/
eggs/
.eggs/
develop-eggs/
MANIFEST
build/
wheels/
*.egg-info/
.installed.cfg
*.pth
*.spec